<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="nav-scroller bg-white shadow-sm" th:fragment="menu">
    <nav class="nav nav-underline">
        <a class="nav-link active" href="/">主页</a>
        <a class="nav-link" href="/message">
            留言
            <span class="badge badge-pill bg-light align-text-bottom" th:text="${messNum}"></span>
        </a>
        <a class="nav-link" href="/update">
            更新
            <span class="badge badge-pill bg-light align-text-bottom">0</span>
        </a>
        <a class="nav-link" href="/login" th:if="!${loginUserName}">登录</a>
        <a class="nav-link" href="/register" th:if="!${loginUserName}">注册</a>
        <a class="nav-link" href="/logout" th:if="${loginUserName}">注销</a>

    </nav>
</div>
</body>
</html>